{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["standard-with-typescript", "plugin:react/recommended", "prettier"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/naming-convention": 0,
    "@typescript-eslint/no-floating-promises": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
